<html>
<head>
<script src="../js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/login.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/md5.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h1>зЂВс</h1>

<input type="text" id="phoneNum">ЪжЛњКХ</>
<input type="text" id="loginName">ЕЧТМУћ</>
<input type="password" id="passwd">УмТы</>

<button id="registerBtn" onclick="userRegister()">зЂВс</button>
</body>
</html>